.headerTop {
    height: 64px;
    background: linear-gradient(to right, #1831A9, #2C83F9, #1885F1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 402;
    @include flexcenter;
    justify-content: space-between;
    font-size: 14px;
    .headerLeft {
        @include flexcenter;
        .logo {
            margin-left: 24px;
            margin-right: 72px;
        }
        .brand {
            margin-right: 7px;
            img {
                margin-left: 72px;
            }
        }
        .components {
            @include flexcenter;
        }
    }
    .email {
        color: #fff;
        font-size: 14px;
        margin-right: 30px;
        .icon-account_circle {
            font-size: 22px;
            margin-right: 10px;
        }
        .com {
            /*margin-right: 8px;*/
        }
        .ivu-poptip {
            font-size: 14px;
            .ivu-btn {
                background: #1885F1;
                border: 0;
                font-size: 14px;
                color: #fff;
                .ivu-icon-chevron-down {
                    font-size: 10px;
                }
            }

            .quit {
                font-size: 14px;
                display: flex;
                color: var(--color-detail);
                .ivu-icon-android-exit {
                    font-size: var(--font-icon);
                    color: var(--color-icon);
                    margin-right: 10px;
                }
            }
        }
    }
    .ivu-select {
        color: #fff;
    }
}
