#seletctBrand {
    .ivu-poptip-body {
        padding: 0;
    }
    .poptip {
        .ivu-icon {
            margin-left: 16px;
            font-size: 10px;
        }
        .ivu-poptip-arrow {
            display: none;
        }
        .ivu-btn-ghost {
            border: 0;
            color: #fff;
            font-size: 14px;
            padding: 6px 12px;
        }
        .ivu-poptip-popper {
            top: 56px!important;
        }
        .brand {
            border-radius: 8px;
            vertical-align: middle;
        }
    }
    .brandSelect {
        width: 278px;
        font-size: 14px;
        .title {
            @include boxTitle;
            border-bottom: 1px solid var(--border-color);
            color: var(--color-title);
            position: relative;
            .icon-add {
                font-size: 22px;
                color: var(--color-icon1);
            }
            .icon-add:hover {
                color: var(--color-hover);
            }
        }
        ul {
            padding-bottom: 40px;
            li {
                height: 48px;
                line-height: 48px;
                a {
                    padding: 0 16px;
                    display: flex;
                    align-items: center;
                    color: var(--color-detail);
                    div {
                        height: 48px;
                        line-height: 48px;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        border-bottom: 1px solid var(--border-color);
                    }
                }
                a:hover {
                    background: var(--color-hover-bg);
                    color: var(--color-hover);
                    font-weight: var(--font-bold);
                }
                img {
                    margin-right: 14px;
                    border-radius: 50%;
                }
            }
            li.active {
                a {
                    background: var(--color-hover-bg);
                    color: var(--color-hover);
                    font-weight: var(--font-bold);
                }
            }
        }
        .addbrand {
            position: absolute;
            top: 0;
            right: 8px;
        }
    }
}
