[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*工具栏*/
.icon-add_circle_outline:before {
    content: "\e761";
}

.icon-arrow_down:before {
    content: "\e762";
}

.icon-add:before {
    content: "\e763";
}

.icon-account_circle:before {
    content: "\e764";
}

.icon-account_child:before {
    content: "\e765";
}

.icon-add-big:before {
    content: "\e766";
}

.icon-attraction:before {
    content: "\e767";
}

.icon-directions_car:before {
    content: "\e60a";
}

.icon-circular:before {
    content: "\e768";
}

.icon-close:before {
    content: "\e769";
}

.icon-delete:before {
    content: "\e76a";
}

.icon-center_focus_strong:before {
    content: "\e76b";
}

.icon-empty:before {
    content: "\e76c";
}

.icon-directions_car:before {
    content: "\e76d";
}

.icon-help:before {
    content: "\e76e";
}

.icon-directions_walk:before {
    content: "\e76f";
}

.icon-label_outline:before {
    content: "\e770";
}

.icon-more_vert:before {
    content: "\e771";
}

.icon-my_location:before {
    content: "\e772";
}

.icon-description:before {
    content: "\e773";
}

.icon-mall_directory:before {
    content: "\e774";
}

.icon-place:before {
    content: "\e775";
}

.icon-polygon:before {
    content: "\e776";
}

.icon-remove:before {
    content: "\e777";
}

.icon-search:before {
    content: "\e778";
}

.icon-sorter:before {
    content: "\e779";
}
