@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    background-color: #f8f8f9;
    overflow: hidden;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909090;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909090;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #909090;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #909090!important;
}

.fl {
    float: left;
}

.rl {
    float: right;
}

.ml20 {
    margin-left: 20px;
}

.mr30 {
    margin-right: 30px;
}

.ml40 {
    margin-left: 40px;
}

.mt10 {
    margin-top: 10px;
}

.fs14 {
    font-size: 14px
}

.center-left {
    float: left;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a9a9a9;
}






/*去掉百度左下角版权信息*/

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}




/*全局的圆角设置*/

.ivu-poptip-inner,
.ivu-select-dropdown,
.ivu-btn-primary,
.ivu-btn-ghost {
    border-radius: var(--border-radius);
}




/*弹出框*/

.ivu-modal-wrap {
    overflow: inherit;
}
.ivu-modal-content {
    border-radius: 2px;
    @include shadow;
}

.ivu-modal-header {
    padding: 10px 16px 6px;
}

.ivu-modal-header-inner {
    font-size: 14px;
    width: 88%;
}

.ivu-modal-close .ivu-icon-ios-close-empty {
    font-size: 28px;
    top: -2px;
}

.ivu-modal-close .ivu-icon-ios-close-empty:hover {
    color: var(--color-hover);
}



/*放大缩小*/

.inmap-scale-group {}

.inmap-scale-group>a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 28px;
    color: rgba(23, 35, 61, 0.55);
    margin: 0;
}

.inmap-scale-group>a:first-child {
    border-bottom: 1px solid rgba(23, 35, 61, 0.10);
}
.inmap-scale-group>a:last-child {
    font-size: 42px;
}







/*Switch 开关*/

.ivu-switch {
    width: 32px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    overflow: hidden;
}

.ivu-switch:after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.ivu-switch-checked:after {
    left: 16px;
}




/*输入框*/

.ivu-input {
    font-size: 14px;
}



/*Checkbox*/

.ivu-checkbox-inner {
    width: 16px;
    height: 16px;
}
.ivu-checkbox-checked .ivu-checkbox-inner:after {
    top: 2px;
    left: 5px;
}


/*下拉框样式同 dropdown样式一致*/

.ivu-select-item:hover,
.ivu-select-item-selected,
.ivu-select-item-selected:hover {
    background: var(--background-color-hover);
    color: var(--font-color-hover);
    font-weight: var(--font-bold);
}
.ivu-select-placeholder,
.ivu-select-item {
    font-size: var(--font-size) !important;
}

.ivu-select-input,
.ivu-select-selected-value
.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    font-size: var(--font-size);
}


.ivu-table {
    font-size: var(--font-size);
}

.ivu-table-header th {
    font-weight: bold;
}
.ivu-tabs-nav .ivu-tabs-tab {
    padding: 8px 0;
}

.ivu-tabs-tab-active {
    font-weight: bold;
    color: rgba(45, 140, 240, 1) !important;
}

.ivu-tooltip-inner {
    max-width: 240px;
}

/*地图围栏的层级*/
svg[type="system"] {
    z-index: 2;
}
