.addressConfig {
    position: absolute;
    right: 24px;
    top: 76px;
    display: flex;
    align-content: center;
    .ivu-btn {
        font-size: 14px;
    }
    .ivu-btn-ghost {
        background: #fff;
        padding: 9px 16px;
        color: var(--color-detail);
        height: 40px;
        @include flexcenter;
        @include shadow;
    }
}
@media screen and (max-width: 1228px) {
    .addressConfig {
        left: 1088px;
    }
}
