#drivingTool {
    font-size: 14px;
}
#drivingModal {
    .ivu-modal-mask {
        background-color: inherit;
    }
}

#drivingInfo {
    .ivu-modal-mask {
        background-color: inherit;
    }
}
