#shopTools {
    position: relative;
    .myshop-swich {
        position: absolute;
        left: 135px;
        top: 13px;
        z-index: 1;
    }
    .cover {
        width: 125px;
        height: 38px;
        /*background: #000;*/
        position: absolute;
        top: 1px;
        left: 0;
        z-index: 1;
        border-radius: 2px;
    }
    .myshop-poptip {
        @include shadow;
        ul {
            li {
                .tag {
                    background: url(http://smartdata.b0.upaiyun.com/thinkmark/marker.png) no-repeat;
                    width: 18px;
                    height: 24px;
                    display: inline-block;
                    background-size: 15px 24px;
                    margin-right: 5px;
                }
            }
        }
    }
}
