#Search {
    position: absolute;
    top: 76px;
    left: 24px;
    width: 349px;
    z-index: 401;
    .box {
        display: flex;
        @include shadow;
    }
    .searchType {
        .title {
            margin-right: 4px;
        }
        .ivu-icon-chevron-down:before {
            font-size: 10px;
        }
        .ivu-btn {
            font-size: 14px;
            border-radius: var(--border-radius);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 40px;
            background: #fff;
            color: var(--color-detail);
            border: 0;
            border-right: 1px solid var(--border-color);
            padding: 6px 12px;
        }
        .ivu-select-dropdown {
            padding: 0;
        }
        .ivu-dropdown-menu {
            li {
                padding: 11px 0 11px 10px;
                width: 120px;
                color: var(--color-detail);
                div {
                    display: flex;
                    font-size: 14px;
                }
                i {
                    width: 26px;
                    color: var(--color-icon);
                    display: inline-block;
                }
                .ivu-icon-ios-location {
                    padding-left: 2px
                }
                .ivu-icon-ios-location:before {
                    font-size: var(--font-icon);
                }
                .icon-attraction:before {
                    font-size: var(--font-icon);
                }
            }

            .ivu-dropdown-item:hover {
                background: var(--color-hover-bg);
                div,
                .ivu-icon-ios-location,
                .icon-attraction {
                    color: var(--color-hover);
                    font-weight: var(--font-bold);
                }
            }
        }
    }
    .searchInput {
        .ivu-input {
            font-size: 14px;
            height: 40px;
            border-radius: var(--border-radius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-color: var(--border-color);
            border: 0;
        }
        .ivu-icon-close-circled:before {
            color: var(--color-icon1);
        }
        .ivu-input-icon {
            line-height: 40px;
            cursor: pointer;
        }
    }
    .searchResult {
        background: #fff;
        margin: 8px 0 0 0;
        white-space: nowrap;
        overflow: hidden;
        @include shadow;
        ul {
            li {
                height: 32px;
                line-height: 32px;
                a {
                    font-size: 12px;
                    padding: 0 12px;
                    color: var(--color-detail);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include flexcenter;
                    .ivu-icon-ios-search-strong {
                        font-size: var(--font-icon);
                        color: #808695;
                        margin-right: 12px;
                    }
                    .default {
                        margin-right: 16px;
                    }
                    em {
                        color: var(--color-icon);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                a:hover {
                    background: var(--color-hover-bg);
                }
            }
        }
    }
}
