#walkingTool {
    font-size: 14px;
}
#walkingModal {
    .ivu-modal-mask {
        background-color: inherit;
    }
}

#walkingInfo {
    .ivu-modal-mask {
        background-color: inherit;
    }
}
